.bg-blue {
    background-color: blue;
}

.bg-red {
    background-color: red;
}

.text-xl {
    font-size: 24px;
}

.hidden {
    display: none;
}

.div-container {
    margin: 10px;
    /* background-color: red; */
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
}

hr {
    margin: 20px 0px;
}